#menu{
    
    border: 2px solid black;
    width: 100%;
    height: 120px;
    background-color: black;
    position: fixed;
    right: -2px;
    padding-top: 50px;
    z-index: 2;
 
   
}

#menu nav{
    margin: auto;
    width: 100%;
    height: 70px;    
    position: relative;
    left: 30px;
}

#menu nav ul{
   width: 100%;
    height: 100%;   
    
}

#menu nav ul li{
    border: 2px solid red;
    width: 19%;
    height: 100%; 
    list-style: none;
    display: inline-block;
    position: relative;
    bottom: 18px;
    right: 35px;
    margin-left: -7px;
    text-align: center;
}

#menu nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;  
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: black;
    font-size: 20px;
   
}

#menu nav ul li a:hover{
 background-color: #00D636;   
    
}

#menu nav ul li a p{
    text-align: center;
    position: relative;
    top: 5px;
    
}

#inhoud{
    margin: auto;
    border: 2px solid black;
    width: auto;
    height: auto;
    position: relative;
    top: 190px;
    z-index: 1;
}

#inhoud p{
    
    border: 0px solid black;
    width: 95%;
    height: 500px;
    margin: 20px;
    
}





















